@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
  --primary-color: rgb(28, 102, 28);
  --background-color: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  padding-top: 5.5em;
  
}
main {
  padding-inline: 12em;
}

/* ============ nav styling============= */
#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 9em;
  padding-block: 1.5em;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000; 
}

.nav-bar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.nav-bar-links a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  
} 
.nav-bar-links a:hover {
  color: var(--primary-color)
}
.nav-bar-links li {
  list-style: none;
}

/* ====================hero section styling================= */
#heroSection {
  width: 100%;
  /* height: 75vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-inline: 5em; */
  margin-bottom: 8rem;
  /* background-color: red; */
  
}
.hero-img, .hero-text {
  width: 50%;
 
}

.hero-img img {
  width: 90%;
  float: right;
}

.hero-text h2 {
font-size: 5rem;
font-weight: 600;
line-height: 1.5;
color: var(--primary-color);
}
.hero-text p {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 3rem;
}

/* ------- button-------- */
#button {
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--primary-color);
  padding: 0.8em 1em;
  border-radius: .5rem;
}

/* =================back to top button========== */
.fa-angle-up {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 0.3em;
  margin-right: 1rem;

}


/* ==================about us styling =============== */
#aboutUsSection {
  /* background-color: green; */
  width: 100%;
  /* padding: 3em; */
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin-bottom: 2rem;
 
}
.about-img {
  width: 40%;
}
.about-img img {
    width: 100%;
    object-fit: cover;
  border-radius: 1rem;
}
.about-text {
  width: 50%;
}
.about-text span {
  display: inline-block;
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 400;
  padding-top: 1em;
}
.about-text h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.about-text p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 1em 0 2em 0;
}
